* {
    font-family: "IBM Plex Serif", serif;
}
body{
    background:#f5f5f7;
    margin:0;
}
.header {
    position:sticky;
    top:0;
    backdrop-filter:blur(20px);
    background: rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding:15px 4%;
    z-index: 1000;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header h1 {
    font-size: 25px;
}
.nav-item {
    padding: 10px 40px;
    display: inline-block;
    text-align: center;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    transition: padding-left 0.5s ease, padding-right 0.5s ease, margin-right 0.5s ease, margin-left 0.5s ease;
    border-spacing: 20px;
}
.nav-item:hover {
    color: rgba(16,16,16,0.85);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.link-wrapper {
    display: flex;
    gap: 20px;
}
button{
    background:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    transition:.3s;
}

button:hover{
    transform:scale(1.03);

    background: rgba(184,184,184,0.85);
}
.catalogue-item {
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    overflow: hidden;
    transition: ease 0.5s;
    margin: 0;
    width: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.catalogue-item:hover {
    transform:translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,.12);
    cursor:pointer;
}
.catalogue-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.catalogue {
    display: grid;
    grid-template-columns:repeat(auto-fit, 230px);
    gap: 50px;
    padding: 40px;
}
.sort-form {
    background: transparent;
}
.item-content {
    padding: 20px;
}
.item-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.price-tag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.function-bar {
    text-align: left;
    margin-right: 10%;
}
.function-bar p {
    font-size: 16px;
    display: inline-block;
}
.function-bar select {
    font-size: 16px;
    display: inline-block;
    border: none;
    transition: border ease 1s;
}
.add-item {
    padding-right: 5px;
    border-right: 1px black solid;
}
.add-item-header {
    font-size: 30px;
}
.add-item-wrapper {
    display: none;
}
.add-item-preview {
    padding-left: 5px;
}
.preview-item {
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    overflow: hidden;
    transition: ease 0.5s;
    margin: 0;
    width: 230px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.preview-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.preview-item:hover {
    transform:translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,.12);
    cursor:pointer;
}
.filter {
    text-align: left;
}
.by-price {
    display: flex;
    flex-direction: column;
}
.price {
    display: flex;
    flex-direction: column;
}
.filter-item-wrapper {
    display: block;
    margin-bottom: 10px ;
}
.filter-constructor-wrapper {
    display: none;
    z-index: 10000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.constructor-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 80%;
    color: black;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color:black;
}
.constructor-input {
    display: block;
}
.item-page {
    border-top: 2px solid black;
    display: flex;
    margin-top: 10px;
    background-color: white;
    width: 100%;
}
.item-page-content {
    width: 50%;
    text-align: center;
    padding-left: 5%;
}
.item-page-content h2 {
    text-align: center;
    font-size: 40px;
}
.image-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
    width: 20%;
    display: flex;
    text-align: center;
    aspect-ratio: 77/100;
}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-to-cart-button {
    margin-top: 30px;
    width: 70%;
    height: 40px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 2px;
    transition: background-color ease 1s;
}
.add-to-cart-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.item-description {
    text-align: left;
}
.add-item-page-wrapper {
    background-color: white;
    display: none;
}
a {
    text-decoration: none;
    color: black;
}
.hide-header-button {
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: none;
    border: 1px solid black;
    position: sticky;
    z-index: 10000;

}
.hide-header-button:hover {
    background-color: rgba(200,200,200,1);
    cursor: pointer;
}
.delete-filter-button {
    display: none;
    background-color: white;
    color: rgba(255,51,47,0.85);
    border: 2px solid rgba(255,51,47,0.85);
    border-radius: 10px;
    transition: background-color ease 1s, color ease 1s;
}
.delete-filter-button:hover {
    cursor: pointer;
    background-color: rgba(255,51,47,0.85);
    color: white;
}
.preview-filter-item-wrapper {
    display: block;
}
.login-item {
    padding: 10px 40px;
    display: inline-block;
    text-align: center;
    border-bottom: solid black 1px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    transition: padding-left 0.5s ease, padding-right 0.5s ease, margin-right 0.5s ease, margin-left 0.5s ease;
    border-spacing: 20px;
}
.login-item:hover {
    color: rgba(16,16,16,0.85);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.login-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
}
.login-window {
    display: none;
    z-index: 10000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}
.login-form-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 60%;
    height: 80%;
    color: black;
}
.login-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color:black;
}
.signup-window {
    display: none;
    z-index: 10000;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#account-link {
    display: none;
}
.open-button {
    display: none;
    cursor: pointer;
}
.side-menu {
    background-color: rgba(255,255,255,0.21);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    height: 100%;
    z-index: 100000;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.side-menu-content {
    display: none;
    flex-direction: column;
    margin-right: 10px;
}
.hide-menu {
    width: 10px;
    padding: 0;
    cursor: pointer;
    margin: 0;
}